{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles Block -->

{% block styles %}
    {{ super }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock%}
<!-- Content Block -->


   
{% block content %}

 <h1>Hello from Movies Review Online</h1>
 <h3>You will get a review of all movies</h3>
 
 <!--Popular Movie Section-->
    <h2>Our popular movies today.........</h2>
    <ul>
        {{macro.displayMovieList(popular)}}
    </ul>
    <!--Upcoming Movie Section-->
    <h2>Our Upcoming movies .........</h2>
    <ul>
        {{macro.displayMovieList(upcoming)}}
    </ul>
    <!--Now Movie Section-->
    <h2>Now Showing today.........</h2>
    <ul>
        {{macro.displayMovieList(now_showing)}}
    </ul>
{% endblock %}